Source: vx-repo-precise-unizar
Section: utils
Priority: extra
Maintainer: Alberto Gacías <alberto@migasfree.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://github.com/vitalinux

Package: vx-repo-precise-unizar
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: Install unizar repository mirror 
 Install unizar repository mirror for vitalinux systems
